$icomoon-font-path: "../fonts/icons/streamlio-icons" !default;

$st-icon-angryface: \e900;
$st-icon-checkmark: \e901;
$st-icon-failure: \e902;
$st-icon-pipeline: \e903;
$st-icon-sadface: \e904;
$st-icon-topic: \e905;
